body, .App {
  background-color: #423E37;
}

.mainOptions {
  display: flex;
  justify-content: space-around;
}

.mainOptions a {
  margin: .2em;
  padding: .2em;
  border: 1px solid ;
  border-radius: 1em;
  background-color: #EDEBD7;
}

.subOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  margin-top: 1em;
  max-width: 80%;
}